@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
.list {
  display: inline;
  text-decoration: none;
  padding: 0 3%;
}
.btn {
  background-color: #f8df1f;
  outline: none;
  text-transform: uppercase;
  width: 175px;
  height: 50px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}
header nav {
  background-color: #f8df1f;
  padding: 2% 0 2%;
}
ul li {
  font-size: 18px;
  display: inline;
  text-decoration: none;
  padding: 0 3%;
}
ul li span {
  color: #ee252f;
  text-transform: uppercase;
}
.logo-top {
  padding: 175px 0 15px 0;
}
h2 {
  text-transform: uppercase;
}
h2 span {
  color: #ee252f;
}
h2 .lower {
  text-transform: lowercase;
}
.div2 {
  padding: 50px 0;
}
.div2 button {
  background-color: #f8df1f;
  outline: none;
  text-transform: uppercase;
  width: 175px;
  height: 50px;
}
.burger {
  padding-top: 20px;
}
.div3 {
  padding: 50px 0;
  background-color: #f3f3f3;
}
.div3 button {
  background-color: #f8df1f;
  outline: none;
  text-transform: uppercase;
  width: 175px;
  height: 50px;
}
footer {
  width: 100%;
  background-color: #080801;
  padding: 25px 0;
  border-top: 15px solid #f8df1f;
}
