@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
.list {
  display: inline;
  text-decoration: none;
  padding: 0 3%;
}
.btn {
  background-color: #f8df1f;
  outline: none;
  text-transform: uppercase;
  width: 175px;
  height: 50px;
}
